/* Importing Rubik font */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
/* Importing space Mono font */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.greeting {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: xx-large;
}

.ollamauserinput {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    border-radius: 2rem;
    font-size: 1.3rem;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    display: block;

}
.mainmiddle {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  height: 70vh; 
}

.blocks {
  right: 0;
  position: fixed;
  padding: 1.5rem;
  bottom: 0;
  display: block;

.block3text {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: x-large;
}

.block3button {
  border-radius: 0.9rem;
  padding: 2rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  border-color: black;
  border-width: 0.2rem;
  background-color: white; 
} 